ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
.active {
    background-color: rgb(70, 70, 71);
}
.container {
    background-color: rgb(169, 166, 166);
    text-align: center;
    padding: 20px;
    color: #111;
}
.container img {
    border-radius: 20px;
}
.container img:hover {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
div.gallery {
    margin: 20px 30px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }